# App Settings
JWT_SECRET="change me to a long random string"

# MongoDB Settings
MONGO_URI=mongodb://adventureland:adventureland@mongo:27017/adventureland?replicaSet=rs0
MONGO_DATABASE=adventureland
MONGO_USERNAME=adventureland
MONGO_PASSWORD=adventureland

# Stripe Settings
STRIPE_PUBLISHABLE_KEY=pk_test_abc123
STRIPE_SECRET_KEY=sk_test_abc123