# MacOS
.DS_Store

# Docker
docker-compose.*override.yml

# Node
node_modules

# Typescript
*.tsbuildinfo

# Playwright
*/**/test-results/
*/**/playwright-report/
*/**/blob-report/
*/**/playwright/.cache/

# Project
dist

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
